.teaser {
    background-image: url('../../img/banner.png');
    background-size: auto 700px;
    background-position: 50% 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    margin-bottom: 80px;
}

.teaser-text-container {
    position: absolute;
    z-index: 200;
    width: 38%;
    padding: 120px 0;
    margin-left: 16%;
    text-align: justify;
}

.teaser-lottie-container {
    width: 600px;
    height: 500px;
    padding: 120px 0;
    position: absolute;
    z-index: 200;
    margin-left: calc(16% + 710px);
}

.teaser-lottie {
    display: block;
    width: 100%;
    height: 430px;
}

.teaser-shadow {
    width: 100%;
    height: 50px;
    background: radial-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0) 60%);
}

.block {
    width: 200px;
    height: 200px;
    float: left;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
}

.block1 {
    background: #fefefeff;
}

.block2 {
    background: #fefefecc;
    box-shadow: 12px 2px 16px rgba(0, 0, 0, 0.1);
}

.block3 {
    background: #fefefedd;
    box-shadow: 12px 2px 16px rgba(0, 0, 0, 0.05);
}

.block4 {
    background: #fefefe88;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.1);
}

.block5 {
    background: #fefefe99;
    box-shadow: inset -6px 6px 10px rgba(0, 0, 0, 0.05);
}

.block6 {
    background: #fefefecc;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.05);
}

.block7 {
    background: #fefefeaa;
    box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.05);
}

.feature-container {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    padding: 0 16%;
    /* display: flex; */
    margin-top: 180px;
}

.feature-container h4 {
    width: 100%;
    text-align: center;
    margin: 0;
}

.split {
    float: left;
    width: 120px;
    height: 1px;
    border-top: 1px solid #aaa;
    margin-left: calc(50% - 60px);
}

.feature-inner-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.feature-inner-container .feature-illus {
    margin: 0 auto;
    height: 200px;
}

.feature-inner-container .feature-illus img, .feature-inner-container .feature-illus video {
    height: 100%;
}

.feature-inner-container .feature-text {
    flex: 1;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
}

.sub-feature-container {
    width: 100%;
    display: flex;
}

.sub-feature-item-container {
    flex: 1;
    height: 300px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sub-feature-item-container img {
    width: 100px;
    margin: 20px auto;
}

.sub-feature-item-container h5 {
    text-transform: uppercase;
    text-align: center;
    margin: 6px 0;
}

.sub-feature-item-container .split {
    margin: 0;
    width: 100%;
}