.example-container {
    width: 100%;
    padding: 0 16%;
    box-sizing: border-box;
}

.item-intro-container {
    width: 100%;
    display: flex;
}

.item-intro-container video {
    width: 400px;
}

.item-intro-container .intro-text-container {
    flex: 1;
    margin-left: 30px;
    text-align: justify;
}

.process-video {
    width: 100%;
}